<!DOCTYPE HTML>
<html lang="{{.Translation.Language}}">

<head>
  <title>PollGo!</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.eu/">
  <script src="{{.ServerPath}}/js/pollgo.1.js"></script>
  <link rel="stylesheet" href="{{.ServerPath}}/css/pollgo.css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{.ServerPath}}/static/favicon.ico">
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      PollGo!
    </div>
  </header>

  <script>
  try {
    let a = getPolls();
	  if (a["{{.}}"]) {
		  delete a["{{.}}"];
  		savePolls(a);
    }
  } catch (e) {
  }
  </script>

  <h1>{{.Translation.NewPoll}} - {{.Key}}</h1>

  <div class="even">
    <p>{{.Translation.SelectPollKind}}:</p>
    <p><input type="radio" id="select_normal" name="select" value="normal" onchange="if(this.checked){document.getElementById('normal_poll').removeAttribute('hidden');document.getElementById('date_poll').hidden=true;document.getElementById('config_poll').hidden=true;}"><label for="select_normal">{{.Translation.NormalPoll}}</label></p>
    <p><input type="radio" id="select_date" name="select" value="date" onchange="if(this.checked){document.getElementById('date_poll').removeAttribute('hidden');document.getElementById('normal_poll').hidden=true;document.getElementById('config_poll').hidden=true;}"><label for="select_date">{{.Translation.AppointmentPoll}}</label></p>
    <p><input type="radio" id="select_config" name="select" value="config" onchange="if(this.checked){document.getElementById('config_poll').removeAttribute('hidden');document.getElementById('normal_poll').hidden=true;document.getElementById('date_poll').hidden=true;}"><label for="select_config">{{.Translation.LoadConfiguration}}</label></p>
  </div>

  <script>
    document.getElementById("select_normal").checked = false;
    document.getElementById("select_date").checked = false;
    document.getElementById("select_config").checked = false;
  </script>
  
  <script>
    var normalanswer = 1

    function addOption() {
      normalanswer++
      let target = document.getElementById("normal_answers");
      let l = document.createElement("LABEL");
      l.setAttribute("for", "normalanswer"+normalanswer);
      l.innerText = "{{.Translation.Question}}" + ": ";
      
      let i = document.createElement("INPUT");
      i.setAttribute("type", "text");
      i.setAttribute("id", "normalanswer"+normalanswer);
      i.setAttribute("name", "normalanswer"+normalanswer);
      i.setAttribute("placeholder", "{{.Translation.Question}}")
      i.setAttribute("maxlength", 500);

      let b = document.createElement("BR");

      target.appendChild(l);
      target.appendChild(i);
      target.appendChild(b);
    }

    var normalansweroption = 2

    function addAnswer() {
      normalansweroption++
      let target = document.getElementById("normal_answer_options");
      let l = document.createElement("LABEL");
      l.setAttribute("for", "normalanswer"+normalansweroption);
      l.innerText = "{{.Translation.AnswerOption}}" + ": ";
      
      let i = document.createElement("INPUT");
      i.setAttribute("type", "text");
      i.setAttribute("id", "normalansweroption"+normalansweroption);
      i.setAttribute("name", "normalansweroption"+normalansweroption);
      i.setAttribute("placeholder", "{{.Translation.AnswerOption}}")
      i.setAttribute("maxlength", 500);

      let n = document.createElement("INPUT");
      n.setAttribute("type", "number");
      n.setAttribute("id", "normalanswervalue"+normalansweroption);
      n.setAttribute("name", "normalanswervalue"+normalansweroption);
      n.setAttribute("placeholder", "{{.Translation.Value}}")
      n.setAttribute("step", "0.01")

      let c = document.createElement("INPUT");
      c.setAttribute("type", "color");
      c.setAttribute("id", "normalanswercolour"+normalansweroption);
      c.setAttribute("name", "normalanswercolour"+normalansweroption);
      c.setAttribute("placeholder", "{{.Translation.Colour}}")

      let b = document.createElement("BR");

      target.appendChild(l);
      target.appendChild(i);
      target.appendChild(n);
      target.appendChild(c);
      target.appendChild(b);
    }
  </script>

  <div class="odd" id="normal_poll" hidden>
    <p>{{.Translation.NormalPoll}}:</p>
    <form id="new_normal" method="POST">
      <input type="hidden" name="type" value="normal">
      <textarea id="textarea_normal" name="description" rows="5" form="new_normal" placeholder="{{.Translation.Description}}" maxlength="100000"></textarea> <br> <hr>
      <div id="normal_answers">
        <label for="normalanswer1">{{.Translation.Question}}: </label><input type="text" id="normalanswer1" name="normalanswer1" placeholder="{{.Translation.Question}}" maxlength="500"> <br>
      </div>
      <p><button form="no_form" onclick="addOption();">{{.Translation.AddOption}}</button></p> <hr>
      <div id="normal_answer_options">
        <label for="normalansweroption1">{{.Translation.AnswerOption}}: </label><input type="text" id="normalansweroption1" name="normalansweroption1" maxlength="500" placeholder="{{.Translation.AnswerOption}}" value="{{.Translation.Yes}}"><input type="number" id="normalanswervalue1" name="normalanswervalue1" placeholder="{{.Translation.Value}}" step="0.01" value="1.00"><input type="color" id="normalanswercolour1" name="normalanswercolour1" placeholder="{{.Translation.Colour}}" value="#1FBC1F"> <br>
        <label for="normalansweroption2">{{.Translation.AnswerOption}}: </label><input type="text" id="normalansweroption2" name="normalansweroption2" maxlength="500" placeholder="{{.Translation.AnswerOption}}" value="{{.Translation.No}}"><input type="number" id="normalanswervalue2" name="normalanswervalue2" placeholder="{{.Translation.Value}}" step="0.01" value="0.00"><input type="color" id="normalanswercolour2" name="normalanswercolour2" placeholder="{{.Translation.Colour}}" value="#D42356"> <br>
      </div>
      <p><button form="no_form" onclick="addAnswer();">{{.Translation.AddOption}}</button></p> <hr>
      {{if .HasPassword}}
      <table style="border: none;">
        <tr style="border: none; background-color: inherit;">
          <td style="border: none;"><label for="normal_user">{{.Translation.Username}}: </label></td>
          <td style="border: none;"><input type="text" id="normal_user" name="user" maxlength="500" required></td>
        </tr>
        <tr style="border: none; background-color: inherit;">
         <td style="border: none;"><label for="normal_pw">{{.Translation.Password}}: </label></td>
         <td style="border: none;"><input type="password" id="normal_pw" name="pw" maxlength="500" required></td>
        </tr>
      </table>
      {{end}}
      <input type="checkbox" id="dsgvo_normal" name="dsgvo" onclick="document.getElementById('normal_submit').disabled = !this.checked" required><label for=dsgvo_normal>{{.Translation.AcceptPrivacyPolicy}}</label> <br>
      <p><input type="submit" id="normal_submit" value="{{$.Translation.CreatePoll}}" disabled></p>
    </form>
  </div>

  <script>
    var timeanswer = 1

    function addTime() {
      timeanswer++
      let target = document.getElementById("date_times");
      let l = document.createElement("LABEL");
      l.setAttribute("for", "time"+timeanswer);
      l.innerText = "{{.Translation.Time}}" + ": ";
      
      let i = document.createElement("INPUT");
      i.setAttribute("type", "time");
      i.setAttribute("id", "time"+timeanswer);
      i.setAttribute("name", "time"+timeanswer);

      let b = document.createElement("BR");

      target.appendChild(l);
      target.appendChild(i);
      target.appendChild(b);
    }
  </script>

  <div class="odd" id="date_poll" hidden>
    <p>{{.Translation.AppointmentPoll}}</p>
    <form id="new_date" method="POST">
      <input type="hidden" name="type" value="date">
      <textarea id="textarea_date" name="description" rows="5" form="new_date" placeholder="{{.Translation.Description}}" maxlength="100000"></textarea> <br> <hr>
      <label for="start">{{.Translation.StartDate}}:</label> <input type="date" id="start" name="start" required> <br>
      <label for="end">{{.Translation.EndDate}}:</label> <input type="date" id="end" name="end" required> <br> <hr>
      <input type="checkbox" id="mo" name="mo"><label for="mo">{{.Translation.WeekdayMonday}}</label> <br>
      <input type="checkbox" id="tu" name="tu"><label for="tu">{{.Translation.WeekdayTuesday}}</label> <br>
      <input type="checkbox" id="we" name="we"><label for="we">{{.Translation.WeekdayWednesday}}</label> <br>
      <input type="checkbox" id="th" name="th"><label for="th">{{.Translation.WeekdayThursday}}</label> <br>
      <input type="checkbox" id="fr" name="fr"><label for="fr">{{.Translation.WeekdayFriday}}</label> <br>
      <input type="checkbox" id="sa" name="sa"><label for="sa">{{.Translation.WeekdaySaturday}}</label> <br>
      <input type="checkbox" id="su" name="su"><label for="su">{{.Translation.WeekdaySunday}}</label> <br> <hr>
      <div id="date_times">
        <label for="time1">{{.Translation.Time}}: </label><input type="time" id="time1" name="time1"> <br>
      </div>
      <p><button form="no_form" onclick="addTime();">{{.Translation.AddTime}}</button></p>
      <input type="checkbox" id="notime" name="notime"><label for="notime">{{.Translation.NoTime}}</label> <br> <hr>
      {{if .HasPassword}}
      <table style="border: none;">
        <tr style="border: none; background-color: inherit;">
          <td style="border: none;"><label for="date_user">{{.Translation.Username}}: </label></td>
          <td style="border: none;"><input type="text" id="date_user" name="user" maxlength="500" required></td>
        </tr>
        <tr style="border: none; background-color: inherit;">
         <td style="border: none;"><label for="date_pw">{{.Translation.Password}}: </label></td>
         <td style="border: none;"><input type="password" id="date_pw" name="pw" maxlength="500" required></td>
        </tr>
      </table>
      {{end}}
      <input type="checkbox" id="dsgvo_date" name="dsgvo" onclick="document.getElementById('date_submit').disabled = !this.checked" required><label for=dsgvo_date>{{.Translation.AcceptPrivacyPolicy}}</label> <br>
      <p><input type="submit" id="date_submit" value="{{$.Translation.CreatePoll}}" disabled></p>
    </form>
  </div>

  <div class="odd" id="config_poll" hidden>
    <p>{{.Translation.LoadConfiguration}}:</p>
    <form id="new_config" method="POST">
      <input type="hidden" name="type" value="config">
      <textarea id="textarea_config" name="config" rows="30" form="new_config" placeholder="{{.Translation.Configuration}}" maxlength="10000000"></textarea> <br> <hr>
      {{if .HasPassword}}
      <table style="border: none;">
        <tr style="border: none; background-color: inherit;">
          <td style="border: none;"><label for="config_user">{{.Translation.Username}}: </label></td>
          <td style="border: none;"><input type="text" id="config_user" name="user" maxlength="500" required></td>
        </tr>
        <tr style="border: none; background-color: inherit;">
         <td style="border: none;"><label for="config_pw">{{.Translation.Password}}: </label></td>
         <td style="border: none;"><input type="password" id="config_pw" name="pw" maxlength="500" required></td>
        </tr>
      </table>
      {{end}}
      <input type="checkbox" id="dsgvo_config" name="dsgvo" onclick="document.getElementById('config_submit').disabled = !this.checked" required><label for=dsgvo_config>{{.Translation.AcceptPrivacyPolicy}}</label> <br>
      <p><input type="submit" id="config_submit" value="{{$.Translation.CreatePoll}}" disabled></p>
    </form>
  </div>

  <footer>
    <div>
      {{.Translation.CreatedBy}} <a href="https://msoll.eu/"><u>Marcus Soll</u></a> - <a href="{{.ServerPath}}/impressum.html" target="_blank"><u>{{.Translation.Impressum}}</u></a> - <a href="{{.ServerPath}}/dsgvo.html" target="_blank"><u>{{.Translation.PrivacyPolicy}}</u></a>
    </div>
  </footer>
</body>

</html>
