<!---Goto Anser-->
<!DOCTYPE HTML>
<html lang="{{.Translation.Language}}">

<head>
  <title>PollGo!</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.eu/">
  <link rel="stylesheet" href="{{.ServerPath}}/css/pollgo.css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{.ServerPath}}/static/favicon.ico">
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      PollGo!
    </div>
  </header>

  <h1>{{.Key}} <span id="pollgo_star"></span></h1>

  <script>
    function createStar() {
      var s = document.createElement("SPAN");
      s.textContent = "★";
      s.setAttribute("style", "cursor: pointer;")
      s.onclick = function() {
        var a = JSON.parse(localStorage.getItem("pollgo_star"));
        var i = a.indexOf("{{.Key}}")
        a.splice(i, 1)
        localStorage.setItem("pollgo_star", JSON.stringify(a));
        var target = document.getElementById("pollgo_star");
        target.textContent = "";
        target.appendChild(createNoStar());
      };
      return s;
    }

    function createNoStar() {
      var s = document.createElement("SPAN");
      s.textContent = "☆";
      s.setAttribute("style", "cursor: pointer;")
      s.onclick = function() {
        var a = JSON.parse(localStorage.getItem("pollgo_star"));
        if(a === null) {
          a = [];
        }
        a.push("{{.Key}}");
        localStorage.setItem("pollgo_star", JSON.stringify(a));
        var target = document.getElementById("pollgo_star");
        target.textContent = "";
        target.appendChild(createStar());
      };
      return s;
    }

    var found = false;
    try {
      var a = JSON.parse(localStorage.getItem("pollgo_star"));
      found = a.indexOf("{{.Key}}") != -1;
    } catch (e) {
      found = false;
    }
    var s;
    if (found) {
      s = createStar();
    } else {
      s = createNoStar();
    }
    var target = document.getElementById("pollgo_star");
    target.textContent = "";
    target.appendChild(s);
  </script>

  {{if .Description}}
  <div class="even">
    {{.Description}}
  </div>
  {{end}}

  <div class="odd">
    <p>{{.Translation.Results}}:</p>
    <div style="width: 100%; overflow-x: scroll;">
      <table style="width: max-content;">
      <thead>
      <tr>
      <th></th>
      {{range $i, $e := .Questions}}
      <th class="centre">{{index $e}}</th>
      {{end}}
      </tr>
      </thead>
      <tbody>
      {{range $i, $e := .Answers }}
      <tr>
      <td style="white-space:nowrap;">{{if index $.Comments $i}}<abbr title="{{index $.Comments $i}}">{{end}}{{index $.Names $i}}{{if not (index $.Names $i)}}<em>[{{$.Translation.Unknown}}]</em>{{end}}{{if index $.Comments $i}}</abbr>{{end}}</td>
      {{range $I, $E := $.Questions }}
      <td class="centre{{if index $.AnswerWhiteFont $i $I}} whitefont{{end}}" title="{{index $.Names $i}} - {{index $e $I 0}}" bgcolor="{{index $e $I 1}}">{{index $e $I 0}}</td>
      {{end}}
      </tr>
      {{end}}
      <tr>
      <td class="th-cell"></td>
      {{range $i, $e := .Questions}}
      <td class="centre th-cell" style="font-size: small;">{{index $e}}</td>
      {{end}}
      </tr>
      <tr>
      <td class="th-cell" style="white-space:nowrap;"><strong>{{.Translation.Points}}</strong></td>
      {{range $i, $e := .Points }}
      <td class="centre{{if eq $e $.BestValue}} th-cell{{end}}" title='{{index $.Questions $i}} - {{printf "%.2f" $e}}'>{{printf "%.2f" $e}}</td>
      {{end}}
      </tr>
      </tbody>
      </table>
      </div>

      <form method="GET">
        <input type="hidden" name="answer" value="yes">
        <p><input style="font-size: x-large; white-space: normal;" type="submit" value="{{.Translation.Participate}}"></p>
      </form>
  </div>

  <div class="even">
    <details>
      <summary>{{.Translation.MoreOptions}}</summary>
      <form method="POST" target="_blank">
        <input type="hidden" name="exportConfig" value="true">
        <p><input type="submit" value="{{.Translation.ExportConfiguration}}"></p>
      </form>
      <hr>
      <form method="POST">
        <input type="hidden" name="delete" value="true">
        {{if .HasPassword}}
          <table style="border: none;">
            <tr style="border: none; background-color: inherit;">
              <td style="border: none;"><label for="user">{{.Translation.Username}}: </label></td>
              <td style="border: none;"><input type="text" id="user" name="user" maxlength="500" required></td>
            </tr>
            <tr style="border: none; background-color: inherit;">
             <td style="border: none;"><label for="pw">{{.Translation.Password}}: </label></td>
             <td style="border: none;"><input type="password" id="pw" name="pw" maxlength="500" required></td>
            </tr>
          </table>
        {{end}}
        <p><input type="submit" value="{{.Translation.DeletePoll}}"></p>
      </form>
    </details>
    <p></p>
  </div>

  <script>
    var abbrs = document.querySelectorAll('abbr[title]');
    for(var i = 0; i < abbrs.length; i++) {
      abbrs[i].addEventListener('click', function(event){alert("" + event.currentTarget.innerText + "\n\n" + event.currentTarget.title)})
      console.log("added 'click' to abbr")
    }
  </script>

  <footer>
    <div>
      {{.Translation.CreatedBy}} <a href="https://msoll.eu/"><u>Marcus Soll</u></a> - <a href="{{.ServerPath}}/impressum.html"><u>{{.Translation.Impressum}}</u></a> - <a href="{{.ServerPath}}/dsgvo.html"><u>{{.Translation.PrivacyPolicy}}</u></a>
    </div>
  </footer>
</body>

</html>
