<!---Goto Anser-->
<!DOCTYPE HTML>
<html lang="{{.Translation.Language}}">

<head>
  <title>PollGo!</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.eu/">
  <script src="{{.ServerPath}}/js/pollgo.1.js"></script>
  <link rel="stylesheet" href="{{.ServerPath}}/css/pollgo.css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{.ServerPath}}/static/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="{{.ServerPath}}/static/Logo.svg" sizes="any">
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      PollGo!
    </div>
  </header>

  <h1>{{.Key}} <span id="pollgo_star"></span> <span id="pollgo_star_name" style="text-decoration: underline; background-color: var(--primary-colour-light); display: inline-block; min-width: 100px; vertical-align: bottom; visibility: hidden;" type="text" autocomplete="off" oninput="updateDisplay(this.innerText)" contenteditable="true"></span></h1>
  <script>
    function createStar() {
      let s = document.createElement("SPAN");
      s.textContent = "★";
      s.setAttribute("style", "cursor: pointer;")
      document.getElementById("pollgo_star_name").style.visibility="visible";
      let a = getPolls();
      if (a["{{.Key}}"] && a["{{.Key}}"].Display) {
        document.getElementById("pollgo_star_name").innerText = a["{{.Key}}"].Display
      }
      s.tabIndex = 0;
      let event = function() {
        let a = getPolls();
        delete a["{{.Key}}"];
        savePolls(a);
        let target = document.getElementById("pollgo_star");
        target.textContent = "";
        target.appendChild(createNoStar());
      };
      s.onclick = event;
      s.onkeydown = function(e) {
        if(e.key == "Enter" || e.key == " ") {
          event();
        }
      };
      return s;
    }

    function createNoStar() {
      let s = document.createElement("SPAN");
      s.textContent = "☆";
      s.setAttribute("style", "cursor: pointer;")
      document.getElementById("pollgo_star_name").style.visibility="hidden";
      document.getElementById("pollgo_star_name").innerText = "";
      s.tabIndex = 0;
      let event = function() {
        let a = getPolls();
        a["{{.Key}}"] = newPollObject();
        savePolls(a);
        let target = document.getElementById("pollgo_star");
        target.textContent = "";
        target.appendChild(createStar());
      };
      s.onclick = event;
      s.onkeydown = function(e) {
        if(e.key == "Enter" || e.key == " ") {
          event();
        }
      };
      return s;
    }

    let found = false;
    try {
      let a = getPolls();
    	if (a["{{.Key}}"]) {
        found = true;
      }
    } catch (e) {
      found = false;
    }
    let s;
    if (found) {
      s = createStar();
    } else {
      s = createNoStar();
    }
    let target = document.getElementById("pollgo_star");
    target.textContent = "";
    target.appendChild(s);

    var timeout = null;

    function updateDisplay(display) {
      if (timeout != null) {
        window.clearTimeout(timeout);
        timeout = null;
      }
      timeout = window.setTimeout(function() {
        let a = getPolls();
    	  if (a["{{.Key}}"]) {
          a["{{.Key}}"].Display = display;
          savePolls(a);
        } else {
          return
        }
      }, 1000);
    }

    function consumeEnter(e) {
      if (e.key == "Enter") {
        e.preventDefault();
        return false;
      }
    }

    document.getElementById("pollgo_star_name").addEventListener("keypress", consumeEnter)
  </script>

  {{if .Description}}
  <div class="even">
    {{.Description}}
  </div>
  {{end}}

  <div class="odd">
    <p>{{.Translation.Results}}:</p>
    <div style="width: 100%; overflow-x: scroll;">
      <table style="width: max-content;">
      <thead>
      <tr>
      <th></th> <!--- Name -->
      <th>🗩</th> <!--- Comment -->
      {{range $i, $e := .Questions}}
      <th class="centre">{{index $e}}</th>
      {{end}}
      </tr>
      </thead>
      <tbody>
      {{range $i, $e := .Answers }}
      <tr>
      <td style="white-space:nowrap;">{{if (index $.CanEdit $i)}}<a onclick="document.getElementById('answerID').value='{{(index $.IDs $i)}}';document.getElementById('formInputAnswer').submit()">🖉</a> {{end}}{{if index $.Comments $i}}<abbr title="{{index $.Comments $i}}">{{end}}{{index $.Names $i}}{{if not (index $.Names $i)}}<em>[{{$.Translation.Unknown}}]</em>{{end}}{{if index $.Comments $i}}</abbr>{{end}}</td>
      <td style="white-space:nowrap;">{{if index $.Comments $i}}<abbr title="{{index $.Names $i}}{{if not (index $.Names $i)}}[{{$.Translation.Unknown}}]{{end}}&#10;&#10;{{index $.Comments $i}}">🗩</abbr>{{end}}</td>
      {{range $I, $E := $.Questions }}
      <td class="centre{{if index $.AnswerWhiteFont $i $I}} whitefont{{end}}" title="{{index $.Names $i}} - {{index $e $I 0}}" bgcolor="{{index $e $I 1}}">{{index $e $I 0}}</td>
      {{end}}
      </tr>
      {{end}}
      <tr>
      <td class="th-cell"></td>
      <td class="th-cell"></td>
      {{range $i, $e := .Questions}}
      <td class="centre th-cell" style="font-size: small;">{{index $e}}</td>
      {{end}}
      </tr>
      <tr>
      <td class="th-cell" style="white-space:nowrap;"><strong>{{.Translation.Points}}</strong></td>
      <td class="th-cell"></td>
      {{range $i, $e := .Points }}
      <td class="centre{{if eq $e $.BestValue}} th-cell{{end}}" title='{{index $.Questions $i}} - {{printf "%.2f" $e}}'>{{printf "%.2f" $e}}</td>
      {{end}}
      </tr>
      </tbody>
      </table>
      </div>

      <form id="formInputAnswer" method="GET">
        <input type="hidden" name="answer" value="yes">
        <input type="hidden" id="answerID" name="answerID" value="">
        <p><input style="font-size: x-large; white-space: normal;" type="submit" value="{{.Translation.Participate}}"></p>
      </form>
  </div>

  <script>
    {{if .HasPassword}}
    function submitDelete() {
      document.getElementById("message").textContent = {{.Translation.PleaseWait}}
      let form = new FormData();
      form.append("user", document.getElementById("user").value);
      form.append("pw", document.getElementById("pw").value);
      let xhr = new XMLHttpRequest();
      xhr.timeout = 10000;
      xhr.open("Put", window.location, true);
      
      xhr.onload = function() {
        if (xhr.status == 202) { 
          document.getElementById("delete_poll").submit();
        } else if (xhr.status == 403) {
          document.getElementById("message").textContent = {{.Translation.AuthentificationFailure}};
        } else {
          document.getElementById("message").textContent = xhr.responseText;
        }
      };

      xhr.onerror = function(e) {
        document.getElementById("message").textContent = {{.Translation.ErrorOccured}}
      };

      xhr.ontimeout = function(e) {
        document.getElementById("message").textContent = {{.Translation.ErrorOccured}}
      };

      xhr.send(form);
    }
    {{else}}
    function submitDelete() {
      document.getElementById("delete_poll").submit();
    }
    {{end}}
  </script>

  <div class="even">
    <details>
      <summary>{{.Translation.MoreOptions}}</summary>
      <form method="POST" target="_blank">
        <input type="hidden" name="exportConfig" value="true">
        <p><input type="submit" value="{{.Translation.ExportConfiguration}}"></p>
      </form>
      <hr>
      <form id="delete_poll" method="POST">
        <input type="hidden" name="delete" value="true">
        {{if .HasPassword}}
          <table style="border: none;">
            <tr style="border: none; background-color: inherit;">
              <td style="border: none;"><label for="user">{{.Translation.Username}}: </label></td>
              <td style="border: none;"><input type="text" id="user" name="user" maxlength="500" required></td>
            </tr>
            <tr style="border: none; background-color: inherit;">
             <td style="border: none;"><label for="pw">{{.Translation.Password}}: </label></td>
             <td style="border: none;"><input type="password" id="pw" name="pw" maxlength="500" required></td>
            </tr>
          </table>
        <p id="message"></p>
        {{end}}
        <p><button form="no_form" onclick="submitDelete();">{{.Translation.DeletePoll}}</button></p>
      </form>
    </details>
    <p></p>
  </div>

  <script>
    let abbrs = document.querySelectorAll('abbr[title]');
    for(let i = 0; i < abbrs.length; i++) {
      abbrs[i].addEventListener('click', function(event){alert("" + event.currentTarget.innerText + "\n\n" + event.currentTarget.title)})
      console.log("added 'click' to abbr")
    }
  </script>

  <footer>
    <div>
      {{.Translation.CreatedBy}} <a href="https://msoll.eu/"><u>Marcus Soll</u></a> - <a href="{{.ServerPath}}/impressum.html"><u>{{.Translation.Impressum}}</u></a> - <a href="{{.ServerPath}}/dsgvo.html"><u>{{.Translation.PrivacyPolicy}}</u></a>
    </div>
  </footer>
</body>

</html>
